ipykernel 
numpy
pandas
lxml
html5lib
beautifulsoup4
bs4
requests
openpyxl
matplotlib
seaborn
flask
streamlit
scikit-learn
imblearn
statsmodels
plotly
nbformat
xgboost
kneed
mlflow
nltk
gensim
tqdm
tensorflow
tensorboard
